body{
    text-align: center;
    background-color: rgb(217, 255, 0);
}
div{
    border:15px ridge rgb(0, 225, 255) ;
    border-width: 50px;

}
img{
border-width: 20px;
border-radius: 90px;
border: 90px ridge rgb(255, 0, 217);
width: 500px;
height: 100px;
}
